@import "tailwindcss";
@plugin "daisyui";

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: visible;
}

html {
  overflow: auto;
  overscroll-behavior: contain;
}